.consu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 5px;
    width: 19%;
}
.consuNumerico{
    color: #272727;
    font-weight: 600;
    font-size: 1vw;
    padding-bottom: 10px;
}