.acelera{
    max-width: 90%;
    margin-top: -20px;
    margin-bottom: -20px;
    color: #00000000;
    flex-grow: 1;
    width: 100%;
}
.bombas{
  color: white;
  margin-top: 3px;
  margin-left: 3px;
  font-family: sans-serif;
}  