.containerComTitulo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    background-color: #272727;
    padding:10px 0px;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
}