body{
    background-color: #404040;
}
*{
    font-family: sans-serif;
}
.line-chart{
    width: 50px;
}
#rosquinhas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    background-color: #272727;
    padding-bottom:10px ;
    margin-top:10px;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
    width: 100%;
}
.doughDiv{
    width: 30%;
    height: fit-content;
}
.legendaDoug{
    width: 10px;
    height: 10px;
    border:2px solid white;
    border-radius: 50%;
    margin-left:8px;
    margin-right:3px;
}

#coluna2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0px 10px;
    max-width: 30vw;
    min-width: 30%;
}

#barras{
    margin-bottom: 10px;
    width: 100%;
    background-color: #272727;
    height: fit-content;
}

#containerAcelera{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: #272727;
    min-width: 20%;
    padding-bottom: 10px;
}
#acelera{
    max-width: 90%;
    margin-top: -20px;
    margin-bottom: -20px;
    color: #00000000;
    flex-grow: 1;
    width: 100%;
}

.linhaBUPai{
    display: flex;
    flex-direction: row;
    width: 23%;
    padding: 10px;
    background-color: #272727;
    flex-grow: 1;
}
.linhas{
    width: 70%;
}
#graficoLinhas{
    display: flex;
    justify-content: space-between;
}
.mediaSemana{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-family: sans-serif;
    font-size: 0.7vw;
    font-weight: 600;
    flex-grow: 1;
}

.spaceBetween{
    width: 10px;
}

.consu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 5px;
    width: 19%;
}
.consuNumerico{
    color: #272727;
    font-weight: 600;
    font-size: 1vw;
    padding-bottom: 10px;
}
#consumoParent{
    display: flex;
    background-color: #272727;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
    padding-top: 10px;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
    width: 100%;
    height: fit-content;
}

.linhasInjec{
    width: 100%;
    max-width: 30vw;
    flex-grow: 1;
    background-color: #272727;
}

#bombas{
    color: white;
<<<<<<< HEAD
    margin-top: 9px;
=======
    margin-top: 10px;
>>>>>>> 21940e892bf62edc3a276a71a2337bd9835dc4eb
    margin-left: 3px;
    font-family: sans-serif;
}

#bombasH1{
    display: flex;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: -20px;
}

.valorlinhaBUmedia{
    font-size: 150%;
}

.mediaSemana div .valorlinhaBU{
    display: flex;

    align-items: center;
    font-size: 450%;
}

.mediaSemana div .valorlinhaBU div{
    height: fit-content;
    font-size: 50%;

}